[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2" = "*"
django-multiselectfield = "*"
django-filter = "*"
pytest = "*"
pytest-django = "*"
mixer = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.6"
