{% extends 'layout.html' %}
{% block body %}
<!DOCTYPE html>
<html>
<head>
    <title>ToDo App</title>
    <h2>Welcome {{ user.username }}!</h2>
    <div class="container">
        <ul class="list-group">
    {% for todo in todos %}
        <li class="list-group-item"><a href="/todo/details/{{todo.id}}">{{todo.title}}</a></li>
    {% endfor %}
</ul>

<br>
<form method="get" action="/search/{{todo.status}}">
    {{ filter.form.as_p }}
    <button type="submit" class="btn btn-success">Filter</button>
  </form>
  <ul>
  {% for user in filter.qs %}
    <li>{{ user.title }} : {{ user.desc }}</li>
  {% endfor %}
  </ul>
</div>
</head>
<body>



</body>
</html>
{% include 'includes/_footer.html' %}
{% endblock %}
